<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ConsoleApplication4.Properties.Settings>
            <setting name="ConsoleApplication4_WebService_SystemService"
                serializeAs="String">
                <value>http://nunav1.corp.naseukoly.cz:7047/DynamicsNAV71/WS/CRONUS%20CZ%20s.r.o./SystemService</value>
            </setting>
            <setting name="ConsoleApplication4_WebService_ServiceTasks_Service"
                serializeAs="String">
                <value>http://nunav1.corp.naseukoly.cz:7047/DynamicsNAV71/WS/CRONUS%20CZ%20s.r.o./Page/ServiceTasks</value>
            </setting>
        </ConsoleApplication4.Properties.Settings>
    </applicationSettings>
</configuration>